.article {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(320px, 430px);
  @include font-base;

  &__link {
    @include fill;
  }

  &__publish-date {
    color: $color-muted;
    font-style: italic;
  }

  &__title {
    @include font-base;
  }

  .tags {
    position: relative;
    z-index: 2;
    margin-top: 15px;
  }

  .image-fit {
    height: 100%;
    width: 100%;

    img {
      width: auto;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
