.article {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(320px, 430px);
  @include font-base;

  &__right {
    display: flex;
    flex-direction: column;
    > * {
      flex: 1 1 100%;
    }
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    > * {
      flex: 1 1 100%;
    }
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    > :first-child {
      margin-right: 15px;
    }

    &-link[href] {
      position: relative;
      z-index: 10;
      margin-top: 63px;
    }
  }

  &__link {
    @include fill;
  }

  &__publish-date {
    color: $color-muted;
    font-style: italic;
  }

  &__title {
    @include font-base;
  }

  .tags {
    position: relative;
    z-index: 2;
    margin-top: 15px;
  }

  &__left {
    height: 100%;
    width: 100%;

    img {
      width: auto;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
