.audio {
  &__container {
    .audio__right {
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .audio__name {
      max-width: 310px;
      margin-right: 20px;
    }

    .audio__description {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .audio__item {
      &:not(:first-child) {
        margin-top: 0;
      }
    }

    .audio__play-btn {
      @include font-base;
      line-height: 1.5;
      min-height: 60px;
      border-bottom: 1px solid $color-lightgrey;
    }

    .audio__image {
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        max-width: 46px;
        max-height: 30px;
        margin-top: 8px;
      }
    }

    .audio__left {
      margin-right: 15px;
    }
  }

  &__folder {
    display: grid;
    grid-template-columns: 1fr;
    @include font-base;

    &-header {
      display: flex;
      text-align: left;
      padding: 0 5px 0 1px;
      min-height: 60px;

      &:hover {
        background-color: transparentize($color-lightgrey, 0.3);
      }

      > * {
        flex: 1 1 100%;
      }
    }

    &-container {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      align-items: center;
      gap: 15px;
      width: 100%;
      padding: 5px 0;
      border-bottom: 1px solid $color-lightgrey;
    }

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: 46px;
        height: 46px;
      }
    }

    &-content {
      display: none;
      transition: height .45s ease-in-out;

      &.animate {
        display: block;
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height .32s ease;
      }
    }

    &._opened {
      .audio__folder-container {
        border-bottom: none;
      }

      .audio__folder-content {
        display: block;
      }

      .audio__item {
        &:first-child {
          border-top: 1px solid $color-lightgrey;
        }
      }
    }
  }

  &__list {
    position: relative;

    .audio__folder & {
      padding-left: 30px;

      &::before {
        position: absolute;
        top: 0;
        left: 15px;
        bottom: 0;
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background-color: $color-lightgrey;
      }
    }

    + * {
      margin-top: 15px;
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__play-btn {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 0 5px 0 1px;
    padding-right: -5px;
    text-align: left;
    @include font-sm;

    &:hover {
      background-color: transparentize($color-lightgrey, 0.5);
    }
  }

  &__left {
    margin-right: 9px;
  }

  &__image {
    opacity: 0.5;

    .icon {
      margin-top: 5px;
      max-width: 25px;
      max-height: 34px;
    }
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
  }

  &__name {
    flex: 1 1 100%;
  }

  &__duration {
    flex: 0 1 49%;
    font-style: italic;
    color: $color-secondary;
  }

  &__label {
    flex: 0 1 49%;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    color: $color-secondary;
  }
}
