.nav-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;

  @include tablet-and-mobile {
    .header & {
      display: none;
    }
  }

  &__item {
    position: relative;

    &:hover {
      > .nav-menu__submenu {
        visibility: visible;
        //clip-path: circle(750px at 50% 50%);
        opacity: 1;
      }
    }
  }

  &__link {
    display: block;
    padding: 24px 10px;

    &:hover {
      color: $color-primary;
    }
  }

  &__submenu {
    position: absolute;
    top: calc(100% - 5px);
    visibility: hidden;
    //clip-path: circle(0px at 50% 0);
  }
}

.submenu {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: repeat(auto-fit, minmax(30px, max-content));
  background-color: $color-lightgrey;
  padding: 20px 0;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(black, 0.17);
  transition: all 350ms ease;
  opacity: 0;
  visibility: hidden;

  &__item {
    position: relative;

    &:hover {
      > .nav-menu__submenu {
        //clip-path: circle(350px at 50%);
        visibility: visible;
        opacity: 1;
      }
    }

    .nav-menu__submenu {
      top: 0;
      left: calc(100% - 5px);
      //clip-path: circle(350px at 0 50%);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: $color-black;

    &:hover {
      color: $color-primary;
      text-decoration: none;

      .icon {
        transform: translateX(5px);
      }
    }

    .icon {
      margin-left: 5px;
      transition: transform .3s ease;
    }
  }
}
