.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  background: transparent;
  transition: all 350ms ease;

  &.visible {
    z-index: 100;
    background-color: rgba(black, 0.6);
    visibility: visible;
  }

  &.not-visible {
    z-index: -1;
    background: transparent;
    visibility: hidden;
  }
}
