.section-post {
  max-width: 921px;

  &__header {
    margin-bottom: 10px;
  }

  &__title {
    max-width: 75%;
    @include font-post-title;
    margin-bottom: 5px;
  }

  &__statistics {
    color: $color-muted;
    font-style: italic;
  }

  &__views {
    display: inline-block;
    margin-left: 50px;
    font-size: 16px;

    .icon-eye {
      width: 13px;
      height: 13px;
    }
  }

  &__content {
    p {
      &:not(:first-child) {
        margin-top: 30px;
      }

      a {
        color: $color-muted;
      }
    }
  }

  &__image,
  figure {
    margin-top: 30px;

    &__caption,
    figcaption {
      font-style: italic;
      font-size: 16px;
      line-height: 30px;
      color: $color-muted;
      text-align: center;
    }

    &--caption {
      + .section-post__text,
      + figcaption {
        margin-top: 10px;
      }
    }

    + p:not(:first-child) {
      margin-top: 10px;
    }

    img {
      width: 100%;
      height: auto;
      object-position: center;
      object-fit: cover;
      max-height: 430px;
    }
  }

  &__footer {
    margin-top: 40px;
  }
}


