.section-post {
  max-width: 920px;

  @include tablet-and-mobile  {
    max-width: 100%;
  }

  @include mobile {
    //margin: 0 -10px;
  }

  &__header {
    margin-bottom: 10px;
  }

  &__title {
    @include font-post-title;
    margin-bottom: 5px !important;
  }

  &__statistics {
    color: $color-secondary;
    font-style: italic;
  }

  &__views {
    display: inline-block;
    margin-left: 50px;
    font-size: 16px;

    .icon-eye {
      width: 13px;
      height: 13px;
    }
  }

  &__content {
    p {
      &:not(:first-child) {
        margin-top: 30px;
      }

      a {
        color: $color-secondary;
      }
    }
  }

  &__image,
  figure {
    margin-top: 30px;

    &__caption,
    figcaption {
      font-style: italic;
      font-size: 16px;
      line-height: 30px;
      color: $color-secondary;
      text-align: center;

      @include mobile {
        font-size: 13px;
        line-height: 22px;
      }
    }

    &--caption {
      + .section-post__text,
      + figcaption {
        margin-top: 10px;
      }
    }

    + p:not(:first-child) {
      margin-top: 10px;
    }

    img {
      width: 100%;
      height: auto;
      object-position: center;
      object-fit: cover;
      max-height: 430px;
    }
  }

  &__footer {
    margin-top: 40px;
  }
}


