.section-post {
  max-width: 921px;

  &__title {
    max-width: 75%;
    @include font-post-title;
  }

  &__statistics {
    color: $color-muted;
    font-style: italic;
  }

  &__views {
    display: inline-block;
    margin-left: 50px;
    font-size: 16px;

    .icon-eye {
      width: 13px;
      height: 13px;
    }
  }

  &__text, p {
    max-width: 95%;

    &:not(:first-child) {
      margin-top: 30px;
    }

    a {
      color: $color-muted;
    }
  }

  &__tags {
    margin-top: 40px;
    font-size: 13px;
    line-height: 30px;
    color: $color-muted;

    p a {
      color: $color-text-gray;

      &:not(:last-child)::after {
        content: ',';
        display: inline;
      }
    }
  }

  &__image {
    margin-top: 30px;

    &__caption {
      font-style: italic;
      font-size: 16px;
      line-height: 30px;
      color: $color-muted;
      text-align: center;
    }

    &--caption {
      + .section-post__text {
        margin-top: 10px;
      }
    }
  }

  figure {
    margin-top: 30px;

    figcaption {
      font-style: italic;
      font-size: 16px;
      line-height: 30px;
      color: $color-muted;
      text-align: center;
    }

    &--caption {
      + figcaption {
        margin-top: 10px;
      }
    }
  }
}


