.quote {
  &-slider {
    position: relative;
    //height: 100%;

    &__container {
      //height: 100%;
    }

    &__wrapper {
      //height: 100%;
    }

    &__slide {
      //height: 100%;
    }

    .article__left {
      position: relative;
      &::after {
        @include fill;
        content: '';
        background-image: linear-gradient(to right, transparent 75%, white 100%);
      }
    }

    &__nav {
      position: absolute;
      z-index: 10;
      bottom: 20px;
      right: 25px;
    }

    .article__text {
      font-style: italic;
    }
  }
}
