.related {
  margin-top: $main-gutters;

  &__title {
    @include font-regular-title;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $main-gutters;
    margin-top: 25px;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  li {
    position: relative;

    &::before {
      @include fill;
      top: 50%;
      z-index: 2;
      content: '';
      display: block;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.7) 1.04%, rgba(1, 1, 1, 0) 100%);
    }
  }

  &__bg {
    position: relative;
    overflow: hidden;

    &::before {
      padding-top: 102%;
      content: '';
      display: block;
    }

    img {
      @include fill;
      width: 100%;
      height: 100%;
      transition: all 0.45s ease;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 0 15px 15px;
    color: $color-white;

    .views {
      line-height: 22px;
    }
  }

  &-article__title {
    @include font-related-text;
    max-width: 84%;
  }

  &-article__link {
    @include fill;
    z-index: 3;

    &:hover + .related__bg img {
      transform: scale(1.1);
    }
  }
}
