.section {
  padding: 20px 25px;
  background-color: $color-white;
  font-family: 'Bitter', serif;

  @include mobile {
    padding: 20px 15px;
  }

  &-widget {
    &__content {
      position: relative;
      @include font-sm;
    }

    &__title {
      @include font-regular-title;
      margin-bottom: 5px !important;
    }

    &__text {
      @include font-sm;

      + .section-widget__link-container {
        margin-top: $main-gutters;
      }
    }

    &__link-container {
      &--download {
        a {
          border-bottom: 1px dashed $color-primary;

          &::after {
            display: none;
          }

          &:hover {
            text-decoration: none;
            opacity: 0.5;
          }
        }
      }
    }

    &__link {
      display: inline-flex;
      align-items: baseline;
      color: $color-primary;
      transition: all .3s ease;

      &::after {
        position: relative;
        content: '';
        display: inline-flex;
        margin-left: 5px;
        @include sprite('arrow');
        transition: all .3s ease;
      }

      &:hover {
        text-decoration: underline;

        &::after {
          transform: translateX(5px);
          transition: all .3s ease;
        }
      }
    }

    &__image-timetable {
      position: absolute;
      bottom: 0;
      right: 0;

      img {
        max-width: 60px;
        max-height: 60px;
      }
    }
  }
}
