.slider {
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: lighten($color-primary, 35%);
    border-radius: 50%;
    transition: all .3s ease;

    &:hover {
      background-color: lighten($color-primary, 20%);
    }

    &::before {
      display: block;
      content: '';
    }

    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__prev {
    &::before {
      @include triangle(8px,'left', $color-white);
      transform: translateX(-1px);
    }
  }

  &__next {
    &::before {
      @include triangle(8px,'right', $color-white);
      transform: translateX(1px);
    }
  }
}
