.static {
  p {
    @include font-sm;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $color-primary;

    &:hover {
      color: darken($color-primary, 5%);
    }
  }
}
