.submenu {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: repeat(auto-fit, minmax(30px, max-content));
  background-color: $color-lightgrey;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(black, 0.17);
  transition: all 350ms ease;

  @include smallTablet-and-mobile {
    grid-template-columns: 1fr;
    width: 100vw;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }

  .header & {
    padding: 20px 0;

    @include mobile {
      padding-top: 0;
    }
  }

  &__item {
    position: relative;

    @include no-smallTablet {
      &:hover {
        > .nav-menu__submenu {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .nav-menu__submenu {
      @include no-smallTablet {
        top: 0;
        left: calc(100% - 5px);
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: $color-black;
    cursor: pointer;
    transition: color 350ms ease;

    @include mobile {
      padding: 7px 10px;
    }

    @include mobile320 {
      padding: 5px 10px;
    }

    &:hover {
      color: $color-primary;
      text-decoration: none;

      .icon {
        transform: translateX(5px);
      }
    }

    .icon {
      margin-left: 10px;
      transition: transform 350ms ease;
    }
  }

  &-controls {
    &__back {
      display: flex;
      align-items: center;
      padding: 20px 10px;
      width: 100%;

      .icon {
        width: 22px;
        height: 13px;
        transform: rotate(180deg);
      }
    }

    &__current {
      margin-left: 10px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
