.widget {
  &__title {
    @include font-regular-title;

    + * {
      margin-top: 21px;
    }
  }

  &--timetable {
    .section-widget__link {
      @include font-base;
    }

    .home & {
      .section-widget {
        &__content {
          display: grid;
          grid-template-areas:
            'title title image'
            'link-1 ... image'
            'link-2 link-3 image';
        }

        &__title {
          grid-area: title;
        }

        &__link {
          &-container {
            &:nth-of-type(1) {
              grid-area: link-1;
            }
            &:nth-of-type(2) {
              grid-area: link-2;
            }
            &:nth-of-type(3) {
              grid-area: link-3;
            }
          }
        }

        &__image-timetable {
          position: static;
          grid-area: image;

          img {
            max-width: 125px;
            max-height: 125px;
          }
        }
      }
    }
  }

  &--attention {
    .widget__title {
      color: $color-danger;
    }
  }

  &--announcement {
    .section-widget__title {
      color: $color-danger;
    }

    .section-widget__text {
      color: $color-text-gray;
      @include font-base;

      strong {
        color: $color-text-main;
        font-weight: inherit;
      }
    }
  }

  &--form {
    .section-widget__title {
      @include font-base;
      font-weight: bold;
    }

    .btn {
      padding: 10px 25px;
      @include font-sm;
      //color: $color-white;
      //background-color: $color-primary;
      //border: none;
      border-radius: 10px;
      line-height: 1;
      transition: all 0.3s ease;

      //&:hover,
      //&:focus {
      //  background-color: $color-success;
      //}
    }

    .home & {
      .section-widget {
        &__text {
          @include font-base;
        }

        .radio-label {
          @include font-base;
        }

        .radio-box {
          margin: 0;

          &:last-of-type {
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  &--introduction {
    height: 100%;

    .section-widget {
      height: 100%;

      &__content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }

      &__title,
      &__text {
        max-width: 370px;
      }
    }
  }
}
