<ul class="news-list">
  {{#each items}}
    <li class="news-list__item">
      <article class="news-list__article news-article">
        <a class="news-article__link" href="{{#if href}}{{href}}{{else}}article.html{{/if}}"></a>
        {{> components/image-fit
                img=(concat 'news/' this.image)
                is-cover=true
                mix="news-article__image"
                fallback-ext="jpg"
        }}
        <div class="news-article__text">
          <h3 class="news-article__title">{{this.title}}</h3>
          {{#if ../photos}}
            {{> components/views views=this.views photos=true}}
          {{else}}
            {{> components/views views=this.views }}
          {{/if}}
        </div>
      </article>
    </li>
  {{/each}}
</ul>
