{{#> blocks/section-quote title="Никон Оптинский"}}
  <p>
    Ни́кон О́птинский (в миру Николай Митрофанович Беляев; 26 сентября (8 октября) 1888,
    Москва — 8 августа 1931, Архангельская область) — священнослужитель Русской православной
    церкви, иеромонах. Был последним духовником Оптиной пустыни, ему суждено было пережить
    закрытие и разорение обители.
  </p>

  <p>
    Николай Митрофанович Беляев родился в Москве, в благочестивой купеческой семье; особым
    благочестием отличался его дед, Лаврентий Иванович Швецов, бывший церковным старостой в
    кремлёвском храме Святых Константина и Елены. Всего в семье было восемь детей; Николай был
    четвёртым.
  </p>

  <p>
    Ни́кон О́птинский (в миру Николай Митрофанович Беляев; 26 сентября (8 октября) 1888, Москва —
    8 августа 1931, Архангельская область) — священнослужитель Русской православной церкви, иеромонах. Был последним духовником Оптиной пустыни, ему суждено было пережить закрытие и разорение обители.
  </p>

  <p>
    Николай Митрофанович Беляев родился в Москве, в благочестивой купеческой семье; особым благочестием отличался его дед, Лаврентий Иванович Швецов, бывший церковным старостой
    в кремлёвском храме Святых Константина и Елены. Всего в семье было восемь детей; Николай был четвёртым.
  </p>

  <p>
    Его устремления разделял и брат Иван (1890—1969), они вместе посещали богослужения, оба почувствовали желание принять монашество и, бросив жребий, определили отправиться в Оптину пустынь; 11 февраля 1907 года они объявили о своём решении матери, а уже 24 февраля прибыли в монастырь. Однако настоятель монастыря, архимандрит Ксенофонт (1845—1914) не захотел принять их
    в братство; желая испытать твёрдость их намерения, он посоветовал ещё какое-то время пожить в миру. В конце декабря братья окончательно приехали в монастырь, поступив в Иоанно-Предтеченский Скит.
  </p>

  <p>
    В конце февраля 1908 года Николай был назначен помощником библиотекаря, но основным его послушанием, с октября, стало секретарское — у скитоначальника старца Варсонофия. С января 1908 года он стал делать дневниковые записи
  </p>
{{/blocks/section-quote}}
