.news {
  &-container {
    display: grid;
    gap: $main-gutters;

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: $main-gutters;

    &__item {
      position: relative;
      height: 287px;
      overflow: hidden;
    }
  }

  &-article {
    display: flex;
    align-items: flex-end;
    height: 100%;

    &__link {
      @include fill;
      z-index: 1;

      &:hover,
      &:focus {
        ~ .news-article__text {

          &::before {
            background-position: 0 50%;
          }

          .news-article__title {
            height: 120px;
            -webkit-line-clamp: 4;
          }
        }
      }
    }

    &__image {
      @include fill;

      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }

    &__text {
      flex: 1 1 20%;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 100%;
      padding: 10px 15px;
      color: $color-white;
      transition: all 0.3s ease;

      &::before {
        @include fill;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.7) 22.74%, transparent 100%) 0 0;
        background-size: 100% 200%;
        transition: all .45s ease;
      }
    }

    &__title {
      position: relative;
      display: -webkit-box;
      height: 60px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      transition: all 0.45s ease;
    }

    .views {
      position: relative;
      line-height: 27px;
      margin-left: 20px;
    }
  }

  &-slider {
    position: relative;
    width: 100%;
    max-width: 920px;

    &__bullets {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 10;
      line-height: 1;


    }
  }
}

.slider-bullets {
  span {
    max-width: 6px;
    max-height: 6px;
    background-color: $color-gray;
    opacity: 1;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &.active {
      background-color: $color-primary;
    }
  }
}
