.news {
  &-slider {
    position: relative;
    width: 100%;
    max-width: 920px;

    @include tablet-and-mobile {
      max-width:  calc(100vw - 40px);
    }

    @include mobile {
      max-width: calc(100vw - 20px);
    }

    &__slide {
      @include mobile {
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.12);
      }
    }

    &__bullets {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 10;
      line-height: 1;

      @include mobile {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
    }
  }

  &--article {
    padding: 0 10px;
  }
}

.slider-bullets {
  span {
    max-width: 6px;
    max-height: 6px;
    background-color: lighten($color-secondary, 5%);
    opacity: 1;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &.active {
      background-color: $color-primary;
    }
  }
}
