.main-calendar {
  display: grid;
  gap: $main-gutters;

  &__header {
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 1fr max-content;
    gap: 23px;
    align-items: baseline;
    min-width: 100%;
    margin-bottom: 10px;

    @include smallTablet {
      margin-bottom: 20px;
    }

    @include mobile {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }

    &-left {
      grid-area: left;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
      align-items: baseline;
      gap: 23px;

      @include smallTablet {
        grid-template-columns: repeat(2, max-content);
        gap: 10px;
      }

      @include mobile {
        grid-template-columns: 1fr;
        gap: 5px;
      }
    }

    &-right {
      grid-area: right;

      @include smallTablet {
        align-self: end;
        margin-bottom: 6px;
      }

      @include mobile {
        margin-top: 10px;
      }
    }
  }

  &__label {
    //grid-area: label;
    font-style: italic;
    font-size: 35px;
    line-height: 1;
    color:$color-secondary;

    @include smallTablet {
      grid-column: -1 / 1;
    }

    @include mobile {
      margin-bottom: 5px;
    }

    &--current {
      color: $color-danger;
    }
  }

  &__date {
    //grid-area: date;
    font-size: 35px;
    line-height: 1;
  }

  &__old-date {
    //grid-area: old-date;
    @include font-base;
    line-height: 1;
    color: #C8C8C8;
  }

  &__article-link {
    position: relative;
    justify-self: end;
    display: flex;
    @include font-sm;
    line-height: 1;
    color: $color-primary;

    &::after {
      position: absolute;
      top: 50%;
      right: -20px;
      content: '';
      display: inline-flex;
      @include sprite('arrow');
      transition: all .3s ease;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      transform: translateX(-10px);

      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__content {
    p {
      @include font-base;

      span {
        color: $color-grey;
      }

      @include mobile {
        margin-top: 10px;
      }
    }
  }
}
