.timetable {
  &__container {
    display: grid;
    grid-template-areas:
      'column-1 aside'
      'column-1 column-2';
    grid-template-columns: 1fr 1fr;
    gap: $main-gutters;

    @include mobile {
      grid-template-areas:
        'aside'
        'column-1'
        'column-2';
      grid-template-columns: 1fr;
      gap: 0;
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.12);
    }
  }

  &-content {
    color: $color-grey;

    &--column-1 {
      grid-area: column-1;
    }

    &--column-2 {
      grid-area: column-2;
    }

    &--aside {
      grid-area: aside;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      @include mobile {
        grid-template-columns: 1fr;
      }

      .calendar__text-big {
        @include font-base;
      }
    }
  }

  &__day {
    @include font-base-up;
    display: inline-block;
    margin-right: 5px;
    color: $color-black;

    &::after {
      display: inline;
      content: ',';
    }

    &--weekend {
      color: $color-danger;
    }
  }

  &__date {
    @include font-base;
    color: $color-secondary;
    font-weight: 400;
    font-style: italic;

    &::after {
      display: inline;
      content: '.';
    }
  }

  &__event {
    span {
      color: $color-black;
    }
  }

  &__title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $main-gutters;

    @include tablet-and-mobile {
      grid-template-columns: max-content;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    a {
      @include font-base;
      color: $color-primary;
      border-bottom: 1px dashed $color-primary;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }

  &__item {
    @include mobile {
      &.card {
        box-shadow: none;
      }
    }
  }
}
