<div class="widget widget--announcement">
  <a href="announcement.html">
    <section class="card section-widget">
      <div class="section-widget__content">
        <h3 class="section-widget__title section-widget__title">Анонс</h3>
        <p class="section-widget__text section-widget__text">
          <strong>8 марта в 15:00</strong>
          в новой трапезной первое собрание археологического кружка
        </p>
      </div>
    </section>
  </a>
</div>
