<div class="widget widget--attention">
  <h3 class="widget__title">Внимание!</h3>
  <section class="card section-widget">
    <div class="section-widget__content">
      <p class="section-widget__text">Сегодня на служении требуется трое мужчин переставить рояль.
        Кто свободен с 13:00 просьба связаться с нашим куратором
        от церкви для получения подробной информации </p>
      <div class="section-widget__link-container">
        <a href="#" class="section-widget__link">Подробнее</a>
      </div>
    </div>
  </section>
</div>
