<div class="widget">
  <section class="section section-widget section-widget--form">
    <div class="section-widget__content">
      <h3 class="section-widget__title">
        Как вы справляетесь с искушениями
        в течение Великого поста?
      </h3>
      <form class="section-widget__form form" >
        {{> ui/radio name="example" id="answer1" label="Пощусь по уставу и отказался(лась) от соц сетей"}}
        {{> ui/radio name="example" id="answer2" label="Ограничиваю себя только в пище"}}
        {{> ui/radio name="example" id="answer3" label="Пощусь только первую и страстную седьмицы"}}
        {{> ui/radio name="example" id="answer4" label="Ем все, главное никого не осуждать и молиться"}}
        {{> ui/btn button=true submit=true label="Ответить"}}
      </form>
    </div>
  </section>
</div>

