<div class="widget widget--introduction">
  <section class="card section-widget">
    <div class="section-widget__content">
      <h3 class="section-widget__title">Что надо знать начинающим прихожанам?</h3>
      <ul class="section-widget__list">
        <li class="section-widget__item">Первые шаги в храме</li>
        <li class="section-widget__item">Как вести себя в церкви: <br> принципы и правила</li>
        <li class="section-widget__item">Для начинающих церковную жизнь</li>
        <li class="section-widget__item">Почему мы должны ходить в храм?</li>
      </ul>
      <div class="section-widget__button">
        {{> ui/btn label="Подробнее" mix="btn-primary"}}
      </div>
    </div>
    <div class="section-widget__image-bg">
      {{> components/image img="common/intro" fallback-ext="png"}}
    </div>
  </section>
</div>
