<div class="widget">
  <section class="section section-widget section-widget--timetable">
    <div class="section-widget__content">
      <h3 class="section-widget__title">Расписание богослужений</h3>
      <div class="section-widget__link-container">
        <a href="#" class="section-widget__link">На сегодня</a>
      </div>
      <div class="section-widget__link-container">
        <a href="#" class="section-widget__link">На завтра</a>
      </div>
      <div class="section-widget__link-container section-widget__link-container--download">
        <a href="#" class="section-widget__link">Скачать PDF</a>
      </div>
      <div class="section-widget__image-timetable">
        {{> components/image img="common/bell" fallback-ext="png"}}
      </div>
    </div>
  </section>
</div>
