<li class="socials__item">
  <a href="{{#if link}}{{link}}{{else}}#{{/if}}" class="socials__link socials__link--{{name}}" target="_blank"
    rel="noopener noreferrer" aria-label="Link to {{name}}.">
      {{>ui/svg}}
    </a>
</li>
