{{#> blocks/section-wrapper title="Главное" class-sw="grid-col-9"}}
  <div class="news-container">
    {{> blocks/slider-article }}
  </div>
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-3"}}
  {{> blocks/common/blocks/calendar }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-9"}}
  <div class="news-container">
    {{> blocks/news/blocks/list items=news.related}}
  </div>
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-3"}}
  {{> blocks/common/blocks/attention }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-5"}}
  <div class="grid-column-container">
    {{> blocks/common/blocks/timetable }}
    {{> blocks/common/blocks/announcement }}
  </div>
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-7"}}
  {{> blocks/common/blocks/introduction }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper title="Видео" class-sw="grid-col-5"}}
  {{> blocks/photo-slider photo="about" text="Паломническая поездка в церковь Антифонитис на Северном Кипре" date="16.07.2020" }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper title="Фото" class-sw="grid-col-4"}}
  {{> blocks/photo-slider photo="inst" text="Паломничество для столицы в Instagram" date="16.07.2020" }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper title="Аудио" class-sw="grid-col-3"}}
    {{> blocks/common/blocks/audio }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper title="Цитаты" class-sw="grid-col-8"}}
  {{> blocks/quote-slider }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper title="Вопросы священнику" class-sw="grid-col-4"}}
  {{> blocks/common/blocks/form-question }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-4"}}
  {{> blocks/common/blocks/form }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-4"}}
  {{> blocks/photo-item photo="relicts" text="Святыни прихода" stats=true amount="124"}}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-4"}}
  {{> blocks/photo-item photo="about" text="О храме <br> (фото и описание)" stats=true amount="167" }}
{{/blocks/section-wrapper}}
