{{#> blocks/section-wrapper title="Видео"}}
  <div class="content-container">
    <ul class="content-grid">
      {{#each video.articles}}
        <li class="content-grid__item">
          {{> blocks/videos/video-item}}
        </li>
      {{/each}}
    </ul>
    <div class="content-container__button">
      {{> ui/btn
              label="Показать еще"
              button=true
              mix="btn-download-more"
      }}
    </div>
  </div>
{{/blocks/section-wrapper}}
