<div class="video-item">
  <a class="video-item__content-link" data-lity href="https://www.youtube.com/watch?v=llyIkmJIT4Q&t=56s">
    <div class="video-item__image">
      {{>components/image img=(concat 'video/' image) ext="jpg"}}
    </div>
    <div class="video-item__description">
      <p class="video-item__text">{{{title}}}</p>
    </div>
  </a>
</div>
