// Colors
$color-primary: #00A0FA;
$color-secondary: #C8C8C8;
$color-danger: #FA6400;
$color-success: #00B446;

$color-black: #000;
$color-white: #ffffff;
$color-grey: #828282;
$color-lightgrey: #F0F0F0;
$color-input: darken($color-secondary, 1.5%);

// BG
$bg-light: #f8f8f8;
