// Colors
$color-primary: #00A0FA;
$color-secondary: #FD5800;
$color-white: #ffffff;

$color-error: red;
$color-gray: #F0F0F0;
$color-text-main: #000;
$color-text-gray: #828282;
$color-muted: #C8C8C8;

// BG
$color-bg-main: #f8f8f8;
