// Colors
$color-primary: #00A0FA;
$color-secondary: #FD5800;
$color-error: #FF6F47;
$color-danger: #FA6400;
$color-success: #00B446;


$color-white: #ffffff;
$color-gray: #F0F0F0;
$color-gray-light: #F7F7F7;
$color-gray-dark: #A4ACB3;
$color-muted: #C8C8C8;

// BG
$color-bg-main: #f8f8f8;
$color-yellow: #ffc600;
$color-orange: #ff8b00;

// Text
$color-text-orange: #ff9000;
$color-text-main: #000;
$color-text-gray: #828282;

