.color-gray {
  color: $color-grey;
}

.text-muted {
  color: $color-secondary;
}

.link {
  color: $color-primary;
}

.page {
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  a {
    &:not(.btn)[href]:hover {
      color: $color-primary;
    }

    &.home-link[href]:hover {
      color: $color-black ;
    }

    &.link {
      &:hover {
        color: $color-primary;
      }
    }
  }
}
