//Paths
$fonts_dir: '../assets/fonts/';
$images_dir: '../assets/images/';

// Fonts
$font-base: 16px;
$font-sm: 13px;
$font-post-title: 35px;
$font-related-title: 25px;
$font-related-text: 20px;


// Socials
$social-item-value: 34px;
$social-icon-value: 50%;

// Layout
$container-padding: 20px;
$main-gutters: 43px;
