<footer class="footer page__footer" id="contacts">
  <div class="container footer__inner">
    {{>blocks/footer/map}}
    {{>blocks/footer/address}}
    {{>blocks/footer/footer-menu}}
    {{>blocks/footer/credits}}
    {{>blocks/footer/copyright}}
  </div>
</footer>

</div>

{{> popups/login}}

{{> layout/bottom}}
