
<footer class="footer page__footer">
  <div class="container footer__inner">
    {{>blocks/footer/map}}
    {{>blocks/footer/address}}
    {{>blocks/footer/credits}}
  </div>
</footer>

</div>

{{> layout/bottom}}
