
<footer class="footer page__footer">
  <div class="container footer__inner">
    {{>blocks/footer/map}}
    {{>blocks/footer/address}}
    {{>blocks/footer/footer-menu}}
    {{>blocks/footer/credits}}
    {{>blocks/footer/copyright}}
  </div>
</footer>

</div>

{{> layout/bottom}}
