<header class="header page__header js-header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-container">
        <div class="header__logo">
          {{>components/image img="header/logo" tablet-img="header/logo-mobile" fallback-ext="png"}}
        </div>
        <div class="header__brand">
          <h1 class="header__title">Приход преподобного<br>Серафима Саровского</h1>
          <span class="header__title-text">г. Минск, Белорусская Православная Церковь Московского Патриархата</span>
        </div>
        <div class="header__media">
          <div class="header__media-item header__media-item--search">
            <a href="#" class="link--text">{{>ui/svg name="search"}} Поиск</a>
          </div>
          <div class="header__media-item header__media-item--entrance">
            <button class="header__media-link link--text" type="button" id="main-entrance">Вход&nbsp;/&nbsp;Регистрация</button>
          </div>
          <div class="header__media-item header__media-item--contacts">
            <a href="#contacts" class="link--text js-scroll-to">Контакты</a>
          </div>
          <div class="header__media-item header__media-item--funds">
            {{>ui/btn color="primary" mix="btn--funds" label="Пожертвования" href="funds.html"}}
          </div>
          <div class="header__media-item header__media-item--socials">
            {{>blocks/header/socials}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <button class="menu-toggle _mobile-visible"></button>
      <nav class="header__nav">
        {{>blocks/header/menu}}
      </nav>
    </div>
  </div>

  {{#if page-breadcrumbs}}
    <div class="header__breadcrumbs">
      <div class="container">
        {{> components/breadcrumbs breadcrumbs=page-breadcrumbs}}
      </div>
    </div>
  {{/if}}
</header>
