{{#> blocks/section-wrapper title="Пожертвование на приход преподобного Серафима Саровского"}}
  <div class="card funds-content">
    <form class="form">
      <span class="form-label">Сумма (бел. руб.)</span>
      <div class="form-row radio-container">
        <label class="radio-label">
          <input type="radio" class="form-radio" name="radio-test" checked>
          <span class="radio-text">10</span>
        </label>
        <label class="radio-label">
          <input type="radio" class="form-radio" name="radio-test">
          <span class="radio-text">20</span>
        </label>
        <label class="radio-label">
          <input type="radio" class="form-radio" name="radio-test">
          <span class="radio-text">50</span>
        </label>
        <label class="radio-label">
          <input type="radio" class="form-radio" name="radio-test">
          <span class="radio-text">100</span>
        </label>
        <label class="radio-label">
          <input type="radio" class="form-radio" name="radio-test">
          <span class="radio-text">Другая сумма</span>
        </label>
      </div>

      <span class="form-label">Способ оплаты:</span>
      <div class="form-row">
        <select class="js-dropdown-box" data-placeholder="Банковская карта VISA">
          <option value="1">Банковская карта VISA</option>
          <option value="2">Банковская карта VISA</option>
          <option value="3">Банковская карта VISA</option>
          <option value="4">Банковская карта VISA</option>
          <option value="5">Банковская карта VISA</option>
          <option value="6">Банковская карта VISA</option>
        </select>
      </div>

      <span class="form-label">Ваши данные:</span>
      <div class="form-row">
        <input type="email" name="email" class="form-input" placeholder="Ваш E-mail">
      </div>
      <div class="form-row">
        <input type="text" name="name" class="form-input" placeholder="Ваше имя">
      </div>
      <div class="check-box">
        <input type="checkbox" id="example2" class="check-input" checked>
        <label for="example2" class="check-label">Я ознакомился(лась) с <a class="link" href="#">договором-офертой</a> и согласен(на) с ней</label>
      </div>
      <div class="form-row">
        <button type="submit" class="btn btn-primary">Пожертвовать</button>
      </div>

    </form>



    <div class="footer static">
      <p>
        <b>Наши реквизиты для юридических и физических лиц:</b> <br>
        <span class="text-muted">Получатель:</span> «ПСС» <br>
        <span class="text-muted">ИНН:</span> 7720287350 <br>
        <span class="text-muted">КПП:</span> 772001001 <br>
        <span class="text-muted">р/c:</span> 40703810900030003646 <br>
        ПАО «СБЕРБАНК» г.Минск <br>
        <span class="text-muted">к/c:</span> 30101810745250000659 <br>
        <span class="text-muted">БИК:</span> 044525659 <br>
        <span class="text-muted">Назначение платежа:</span> Пожертвование на уставную деятельность. <br>
        НДС не облагается.
      </p>

      <p>
        <span class="text-muted">
          В случае возникновения затруднений или вопросов при использовании данной формы, вы можете
          обратиться к нам через email
        </span>
        <a class="color-primary" href="mailto:palomnik.minsk@mail.ru">palomnik.minsk@mail.ru</a>
      </p>
    </div>
  </div>

{{/blocks/section-wrapper}}
