{{#> blocks/post
        title="Так будет выглядеть любая страница с информацией (картинка+текст)"
        machine-time="2020-02-23"
        time="23 февраля 2020"
        views="25"
        post=true
        tags=article.tags
}}

  {{> components/slider slider=article-slider }}

  <p>
    Для каждого верующего человека время <a href="#">Великого поста</a> – это особенный
    период, когда душа начинает освобождаться от земных наслаждений и погружается в
    молитву и общение с Богом. <a href="#">Св. Ефрем Сирин</a> писал: «С помощью...
    святого поста человек возносится на небо и воспаряет в рай, если только постится в
    совершенной чистоте. Сим святым постом человек прославляет Бога, и всякому, кто ревностно
    соблюдает пост, отверзает Он дверь милосердия», а Св. <a href="#">Василий Великий</a>
    дополняет: «Польза поста открыта всякому роду жизни, всякому состоянию тела: пост
    везде одинаково приличен – и в домах, и на торжищах, и ночью, и днем, в городах
    и в пустынях».
  </p>

  <p>
    Исторически известно, что в первые века христиане воспринимали Пасху двояко: и как день
    Воскресения Христа, и как воспоминание Его страданий. Уже тогда христиане стали особенным
    образом готовиться к этому событию, налагая на себя пост. Поначалу он составлял несколько
    дней, а уже к IV веку увеличился до шести недель.
  </p>

  <p>
    Особенное значение для верующих людей приобрела первая и последняя неделя поста.
  </p>

  <p>
    Страстная седмица по церковному уставу не относится к дням святой Четыредесятницы.
    Если на протяжении всего Великого поста Церковь подает для поучения христианам жития
    великих святых, различные образы из Ветхого и Нового Завета, то в эти семь дней мы
    слышим о Евангельских событиях, которые касаются исключительно последних дней жизни
    Иисуса Христа.
  </p>

  {{> components/post-image
          image="post/post-01"
          caption="Пояснение к фотографии, которое в тектсте"
  }}

  <p>
    В первые три дня Страстной недели богослужение Православной Церкви наполнено
    покаянными мотивами, которые отображаются в стихирах и канонах. Содержание богослужебных
    текстов проникнуто ожиданием второго пришествия в мир Христа Спасителя. Об этом говорят
    евангельские притчи о <a href="#">«Злых виноградарях»</a>, <a href="#">«Таланты»</a>
    и <a href="#">«Десять Дев»</a>. Церковь еще раз
    акцентирует внимание верующих на том, ради чего пришел в мир Христос.
  </p>

{{/blocks/post}}

