<li>
  <article class="related-article">
    <a class="related-article__link" href="{{#if href}}{{href}}{{else}}article.html{{/if}}" aria-label="Ссылка на статью."></a>
    {{>components/image-fit img=image is-cover=true mix="related__bg" fallback-ext="jpg"}}
    <div class="related__info">
      <h3 class="related-article__title">{{title}}</h3>
      {{> components/views }}
    </div>
  </article>
</li>
