
<div class="js-slider-default">
  {{> ui/slider-arrow
          mod-arrow="slider-arrow--prev"
          mix-arrow="slider-default__arrow"
          type="prev"
  }}
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{#times 5}}
        <div class="swiper-slide">
          <div class="slider-default__img">
            <img src="../assets/images/post/01.jpg" alt="">
          </div>
        </div>
      {{/times}}
    </div>
  </div>
  {{> ui/slider-arrow
          mod-arrow="slider-arrow--next"
          mix-arrow="slider-default__arrow"
          type="next"
  }}
  <div class="slider-default__paging" data-slider="paging"></div>
</div>
