<div class="article-slider">
  <div class="article-slider__container swiper-container js-slider-article" data-timeout="7000">
    <div class="swiper-wrapper">
      {{#each slider }}
        <div class="swiper-slide article-slider__content">
          {{> components/image-fit
                  mix="article-slider__image"
                  img=this.image
                  fallback-ext="jpg"
                  is-cover=true
          }}
          <p class="article-slider__description">
            {{{../caption}}}
          </p>
          <div class="article-slider__pagination-wrapper"></div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
