{{!Аудио}}

{{> layout/header page-mod="audio" page-breadcrumbs=article.page-breadcrumbs}}

<div class="container page__container">
  <div class="grid-main">
    <main class="page__content grid-col-6">
      {{> blocks/audio/main }}
    </main>

    <aside class="grid-aside grid-col-6">
      {{> blocks/audio/aside }}
    </aside>
  </div>
</div>

{{> layout/footer }}
