{{!Важная информация}}

{{> layout/header page-breadcrumbs=important.page-breadcrumbs}}

<div class="container page__container">
  <div class="grid-main">
    <main class="page__content grid-col-12">
    </main>
  </div>
</div>

{{> layout/footer }}
