{{#> blocks/section-wrapper title="Православный календарь"}}
  <div class="calendar-wrapper">
    <ul class="main-calendar">
      {{> components/calendar-item items=calendar-main.calendar-events }}
    </ul>
  </div>
{{/blocks/section-wrapper}}
