{{#> blocks/section-wrapper title="Фото"}}
  <div class="content-container">
    {{> blocks/news/blocks/list items=photo.articles photos=true}}
    <div class="content-container__button">
      {{> ui/btn
              label="Показать еще"
              button=true
              mix="btn-download-more"
      }}
    </div>
  </div>
{{/blocks/section-wrapper}}
