<div class="ui__colors">
  <div class="_item">
    <span>$color-primary</span>
    <div class="_demo" style="background-color: #00A0FA">
      <span>#00A0FA</span>
    </div>
  </div>

  <div class="_item">
    <span>$color-secondary</span>
    <div class="_demo" style="background-color: #C8C8C8">
      <span>#C8C8C8</span>
    </div>
  </div>

  <div class="_item">
    <span>$color-error</span>
    <div class="_demo" style="background-color: #FF6F47">
      <span>#FF6F47</span>
    </div>
  </div>

  <div class="_item">
    <span>$color-success</span>
    <div class="_demo" style="background-color: #00B446">
      <span>#00B446</span>
    </div>
  </div>

  <div class="_item">
    <span>$color-black</span>
    <div class="_demo" style="background-color: #000">
      <span>#000000</span>
    </div>
  </div>

  <div class="_item">
    <span>$color-grey</span>
    <div class="_demo" style="background-color: #828282">
      <span>#828282</span>
    </div>
  </div>

  <div class="_item">
    <span>$color-lightgrey</span>
    <div class="_demo" style="background-color: #F0F0F0">
      <span class="_dark">#F0F0F0</span>
    </div>
  </div>

  <div class="_item">
    <span>$bg-light</span>
    <div class="_demo" style="background-color: #f8f8f8">
      <span class="_dark">#F8F8F8</span>
    </div>
  </div>

  <div class="_item">
    <span>$color-white</span>
    <div class="_demo" style="background-color: #ffffff">
      <span class="_dark">#FFFFFF</span>
    </div>
  </div>
</div>
