<h2 class="page__title">Православный календарь</h2>

<div class="calendar-wrapper">
  <ul class="main-calendar">
    {{> components/calendar-item items=calendar-main.calendar-events }}
  </ul>
</div>
