{{#> blocks/section-wrapper title="Новости"}}
  <div class="news-container">
    {{> blocks/slider-article }}

    {{> pages/news/blocks/list items=news.articles}}

      <div class="news-container__button">
        {{> ui/btn
                label="Показать еще"
                button=true
                mix="btn-download-more"
        }}
      </div>
  </div>
{{/blocks/section-wrapper}}
