{{#> blocks/section-wrapper title="Новости"}}
  <div class="content-container">
    {{> blocks/slider-article }}

    {{> blocks/news/blocks/news-grid array=news.articles}}

    <div class="content-container__button">
      {{> ui/btn
              label="Показать еще"
              button=true
              mix="btn-download-more"
      }}
    </div>
  </div>
{{/blocks/section-wrapper}}
