{{#> blocks/section-wrapper title="Фото" class-sw="grid-col-3"}}
  <div class="widget widget--photo">
    {{> blocks/photo-item photo="easter" text="Пасха Хистова 28.03.2020" stats=true amount="124"}}
  </div>
  <div class="widget widget--photo">
    {{> blocks/photo-item photo="pokrov" text="Покрова Пресвятой Богородицы" stats=true amount="167" }}
  </div>

  <div class="widget widget--video">
    {{> blocks/video-item iframe=true text="Церковные суеверия или как с ними бороться" }}
  </div>
  <div class="widget widget--video">
    {{> blocks/video-item iframe=true text="Церковные суеверия или как с ними бороться" }}
  </div>
{{/blocks/section-wrapper}}

{{#> blocks/section-wrapper class-sw="grid-col-3"}}
  {{> pages/common/blocks/calendar }}
  {{> pages/common/blocks/attention }}

  {{> pages/common/blocks/timetable }}
  {{> pages/common/blocks/form }}
{{/blocks/section-wrapper}}



