<div class="audio card">
  <ul class="audio__list">
    {{#each example.audio}}
      <li class="audio__item">
        <button class="audio__play-btn">
          <div class="audio__left">
            <div class="audio__image">
              {{> ui/svg name="music-note" }}
            </div>
          </div>
          <div class="audio__right">
            <div class="audio__name">{{this.text}}</div>
            <div class="audio__duration">{{this.duration}}</div>
            {{#if this.isListened }}
              <div class="audio__label">Прослушано</div>
            {{/if}}
          </div>
        </button>
      </li>
    {{/each}}
  </ul>

  <div class="audio__link-wrapper">
    <a href="audio.html" class="audio__link link-arrow">Слушать все</a>
  </div>
</div>
