<div class="widget widget--calendar">
  <section class="card section-widget">
    <div class="calendar">
      <div class="calendar__date">
        <a href="#">
          <span class="calendar__label">сегодня</span>
          <span class="calendar__day">3 </span>
          <span class="calendar__month">марта</span>
        </a>
      </div>

      <p class="section-widget__text calendar__text-big">
        <a href="#">
          Апп. от 70-ти Архиппа и Филимона и мц. равноап. Апфии (I). Прп. Феодора
        </a>
      </p>
    </div>
  </section>
</div>

