<div class="widget widget--calendar">
  <section class="card card--fw section-widget">
    <div class="calendar calendar-simple js-calendar-simple">
      <a class="calendar-simple__link" href="calendar-article.html">
        <div class="calendar__date">
          <span class="calendar__label">сегодня</span>
          <span class="calendar__day">3 </span>
          <span class="calendar__month">марта</span>
        </div>
        <p class="calendar__text calendar__text--big">
          Апп. от 70-ти Архиппа и Филимона и мц. равноап. Апфии (I). Прп. Феодора,
          Апп. от 70-ти Архиппа и Филимона и мц. равноап. Апфии (I). Прп. Феодора.
        </p>
      </a>
     </div>
  </section>
</div>

