@mixin desktop1440_and_less {
  @media(max-width: 1499px) and (min-width: $tabletMedia + 1) {
    @content;
  }
}

@mixin desktop1366_and_less {
  @media(max-width: 1439px) and (min-width: $tabletMedia + 1) {
    @content;
  }
}

@mixin desktop1280_and_less {
  @media(max-width: 1365px) and (min-width: $tabletMedia + 1) {
    @content;
  }
}

@mixin grid-columns($from: 1, $to: 12) {
  @for $i from $from through $to {
    .grid-col {
      &-#{$i} {
        display: flex;
        flex-direction: column;
        grid-column: auto / span #{$i};
        width: 100%;

        @include tablet-and-mobile {
          grid-column: auto;
        }
      }
    }
    .grid-md-col {
      &-#{$i} {
        @include tablet {
          display: flex;
          flex-direction: column;
          grid-column: auto / span #{$i};
          width: 100%;
          max-width: calc(100vw - 40px);
        }
      }
    }
  }
}

@include grid-columns (1, 12);
