@mixin font-mixin($font_name) {
  font-family: #{$font_name};
}

@mixin light() {
  font-weight: 300;
}

@mixin regular() {
  font-weight: 400;
}

@mixin medium() {
  font-weight: 500;
}

@mixin semibold() {
  font-weight: 600;
}

@mixin bold() {
  font-weight: 700;
}

@mixin extrabold() {
  font-weight: 800;
}

@mixin font-base() {
  font-size: $font-base;
  line-height: 30px;
}

@mixin font-sm() {
  font-size: $font-sm;
  line-height: 22px;
}

@mixin font-post-title() {
  font-size: $font-post-title;
  line-height: 1.3;
  font-weight: bold;

  @include mobile {
    font-size: 25px;
  }
}

@mixin font-regular-title() {
  font-size: $font-related-title;
  line-height: 30px;
  font-weight: normal;
}

@mixin font-base-up() {
  font-size: $font-related-text;
  line-height: 30px;
  font-weight: bold;
}
