<div class="popup popup--login card js-popup" data-popup-id="login">
  <div class="popup__header">
    <span class="popup__title">Войти</span>
    <button class="popup__close js-popup-close"></button>
  </div>
  <div class="popup__content" data-api-url="location.href">
    <form class="form">
      <div class="form-row">
        <input type="email" class="form-input" inputmode="email" name="loginEmail" placeholder="Ваш E-mail">
      </div>
      <div class="form-row">
        <input type="password" class="form-input" name="loginPassword" placeholder="Пароль">
      </div>
      <div class="form-row">
        <button type="submit" class="btn btn-primary" aria-label="Подтвердите вход.">Войти</button>
      </div>
    </form>
    <div class="popup__credits">
      Еще нет аккаунта? <a class="color-primary" href="#" aria-label="Перейти на страницу регистрации.">Зарегистрироваться</a>
    </div>
  </div>
</div>
