<div class="footer__address">
  <address class="address">
    <p class="font-regular">г. Минск, ул. Космонавтов 24</p>
    <p>
      <a href="tel:+375173767002"><span class="text-muted">+375 17</span> 376 70 02</a>
    </p>
    <p>© 2013-2020</p>
    <p>
      <a href="mailto:palomnik.minsk@mail.ru" class="link">palomnik.minsk@mail.ru</a>
    </p>
  </address>

  <div class="footer__btn">
    {{>ui/btn color="muted" mix="btn--funds" label="Пожертвования"}}
  </div>
</div>
