<div class="footer__copy">
  <p class="text-muted">© 2013-2020</p>
  <p class="text-muted">
    Все права защищены. Использование и цитирование материалов сайта разрешается при условии
    открытой ссылки на цитируемую статью, которая должна находиться в первом абзаце публикуемого
    материала. Мнение редакции может не совпадать с точкой зрения авторов публикаций.
  </p>
</div>
