<div class="footer__credits">
  {{>blocks/header/socials}}

  <div class="timetable">
    <h3 class="timetable__title">Начало служений:</h3>
    <p>
      Пн - Сб 8<span class="color-gray">:00</span> / 17<span class="color-gray">:00</span>
      <br>
      Воскресенье 7<span class="color-gray">:00</span> / 10<span class="color-gray">:00</span> / 17<span class="color-gray">:00</span>
    </p>
  </div>

  <div class="footer__copy">
    <p class="text-muted">
      Все права защищены. Использование и цитирование материалов сайта разрешается при условии
      открытой ссылки на цитируемую статью, которая должна находиться в первом абзаце публикуемого
      материала. Мнение редакции может не совпадать с точкой зрения авторов публикаций.
    </p>
  </div>
</div>
