<div class="footer__map">
  <div class="map-preview">
    <img class="map-preview__image js-ymap"
         src="../assets/images/common/map.jpeg"
         alt="Карта проезда к храму."
         tabindex="0">
  </div>
</div>
