<div class="footer__map">
  <div style="position:relative;overflow:hidden;">
    <a href="https://yandex.by/maps/org/prikhod_prepodobnogo_serafima_sarovskogo/205184322415/?utm_medium=mapframe&utm_source=maps"
       style="color:#eee;font-size:12px;position:absolute;top:0px;">Приход преподобного Серафима Саровского</a>
    <a href="https://yandex.by/maps/157/minsk/category/orthodox_church/?utm_medium=mapframe&utm_source=maps"
       style="color:#eee;font-size:12px;position:absolute;top:14px;">Православный храм в Минске</a>
    <a href="https://yandex.by/maps/157/minsk/category/religious_association/?utm_medium=mapframe&utm_source=maps"
       style="color:#eee;font-size:12px;position:absolute;top:28px;">Религиозное объединение в Минске</a>
    <iframe src="https://yandex.by/map-widget/v1/-/CKuQEG9V"
            width="600"
            height="380"
            frameborder="0"
            allowfullscreen="true"
            style="position:relative;">
    </iframe>
  </div>
</div>
