{{#> blocks/section-wrapper title="Главное" class-sw="grid-col-9"}}
  <div class="news-container">
    {{> blocks/slider-article }}
  </div>
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-3"}}
  {{> pages/common/blocks/calendar }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-9"}}
  <div class="news-container">
    {{> pages/news/blocks/list items=news.related}}
  </div>
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-3"}}
  {{> pages/common/blocks/attention }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-5"}}
  <div class="grid-column-container">
    {{> pages/common/blocks/timetable }}
    {{> pages/common/blocks/announcement }}
  </div>
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-7"}}
  {{> pages/common/blocks/introduction }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper title="Видео" class-sw="grid-col-5"}}
<!--  {{> pages/common/blocks/introduction }}-->
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper title="Фото" class-sw="grid-col-4"}}
  <!--  {{> pages/common/blocks/introduction }}-->
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper title="Аудио" class-sw="grid-col-3"}}
  <!--  {{> pages/common/blocks/introduction }}-->
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper title="Цитаты" class-sw="grid-col-8"}}
  <!--  {{> pages/common/blocks/introduction }}-->
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper title="Вопросы священнику" class-sw="grid-col-4"}}
  {{> pages/common/blocks/form-question }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-4"}}
  {{> pages/common/blocks/form }}
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-4"}}
  2
{{/blocks/section-wrapper}}


{{#> blocks/section-wrapper class-sw="grid-col-4"}}
    3
{{/blocks/section-wrapper}}
