{{#> blocks/section-wrapper title="Анонс"}}
  <div class="card announcement-content">
    <h2>На 19 сентября 2020</h2>
    <p>Ано́нс (фр. annonce — публичное оповещение) — предварительное оповещение о каком-либо событии (концерте, спектакле, показе кинофильма, выпуске книги или компьютерной программы и т. д.)[1]. Может быть в виде афиши, статьи в СМИ или объявления по телевидению или радио. Наряду с собственно объявлением о событии в анонсе обычно упоминаются основные сведения о событии (аннотация к фильму, программа концерта).</p>
    <p>
      Структура анонса: <br>
      сообщение о точной дате; <br>
      сообщение о точном времени; <br>
      сообщение о точном месте; <br>
      краткое изложение сути события; <br>
      предположение об аудитории данного события; <br>
      способ попадания на событие (где приобрести билет); <br>
      название телеканала, на котором будет вещание. (если это телеанонс)
    </p>
  </div>
{{/blocks/section-wrapper}}

{{#> blocks/section-wrapper title="В этот день состоится"}}
  <div class="calendar-wrapper">
    <ul class="main-calendar">
      {{> components/calendar-item items=calendar-article.calendar-events }}
    </ul>
  </div>
{{/blocks/section-wrapper}}

{{#> blocks/section-wrapper title="Статья на эту тему"}}
  {{> blocks/article
          img="articles/01"
          article-post=example.article-1
  }}
{{/blocks/section-wrapper}}
