<article class="article">
  <a href="#" class="article__link"></a>
  <div class="article__left">
    {{> components/image-fit fallback-ext="jpg"}}
  </div>
  <div class="article__right">
    {{#each article-post}}
      <div class="card">
        <div class="article__content">
          <div class="article__publish-date">
            <time datetime="{{this.datetime}}">{{this.date}}</time>
          </div>
          <h3 class="article__title">{{this.title}}</h3>
          <p class="article__text">{{this.text}}</p>
          <div class="article__footer">
            {{> components/tags tags=this.tags }}
            {{> components/views views=this.views}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</article>
