<div class="photo">
  <a href="#" class="photo__link"></a>
  <div class="photo__image">
    {{> components/image img=(concat 'photo/' photo) fallback-ext='jpg' }}
  </div>
  <div class="photo__description">
    <p class="photo__text">{{{text}}}</p>
    <div class="photo__stats">
      {{# if stats}}
        {{> ui/svg name="camera" }}
        <span>{{amount}}</span>
      {{else}}
        <span>{{date}}</span>
      {{/if}}
    </div>
  </div>
</div>
