<section class="card section-post">
  <header class="section-post__header">
    <h2 class="section-post__title">
      {{title}}
    </h2>
    <div class="section-post__statistics">
      <time datetime="{{machine-time}}">{{time}}</time>
      {{> components/views }}
    </div>
  </header>

  <div class="section-post__content">
    {{> @partial-block }}
  </div>

  <footer class="section-post__footer">
    {{> components/tags tags-mode="section-post__tags" }}
  </footer>
</section>
