<section class="related">
  <h2 class="related__title">Вас может заинтересовать</h2>

  <ul class="related__list">
    {{> components/related-item
            image="related/01"
            title="Церковные суеверия или как.."
            views="25"
    }}
    {{> components/related-item
            image="related/02"
            title="Церковные праздники в.."
            views="25"
    }}
    {{> components/related-item
            image="related/03"
            title="Покрова Пресвятой Богоро.."
            views="25"
    }}
  </ul>
</section>
