<div class="section-quote card {{#if class-sw}}{{class-sw}}{{/if}}">
  {{> components/image-quote
          image="nikon-post"
          b-date="21 сентября 1899"
          d-date="2 марта 1999"
  }}

  {{#if title}}
    <h2 class="section-quote__title">{{title}}</h2>
  {{/if}}

  <div class="section-quote__content">
    {{> @partial-block }}
  </div>
</div>
