<section class="news-slider js-slider-default">
  <div class="news-slider__container swiper-container " data-slider="slides">
    <div class="news-slider__wrapper swiper-wrapper">
      {{#times 5}}
        <div class="news-slider__slide swiper-slide">
          <article class="article">
            <a href="#" class="article__link"></a>
            <div class="article__left">
              {{> components/image img="articles/02" fallback-ext="jpg"}}
            </div>
            <div class="article__right">
              {{#each ../example.article-1}}
                <div class="card">
                  <div class="article__content">
                    <div class="article__publish-date">
                      <time datetime="{{this.datetime}}">{{this.date}}</time>
                    </div>
                    <h3 class="article__title">{{this.title}}</h3>
                    <p class="article__text">{{this.text}}</p>
                    <div class="article__footer">
                      {{> components/tags tags=this.tags }}
                      {{> components/views views=this.views}}
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          </article>
        </div>
      {{/times}}
    </div>
  </div>

  <div class="slider-bullets news-slider__bullets" data-slider="paging"></div>
</section>

