<div class="video">
  <a href="#" class="video__link"></a>
  <div class="video__content">
    {{#if video}}
      <video src="../assets/video/{{video}}.mp4">Ваш браузер не поддерживается.</video>
    {{/if}}
    {{#if iframe}}
      <iframe width="277" height="190" src="https://www.youtube.com/embed/Ql1bjAhGce8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{/if}}
  </div>
  <div class="video__description">
    <p class="video__text">{{{text}}}</p>
  </div>
</div>
