<div class="photo-slider js-slider-default">
  <div class="photo-slider__container swiper-container " data-slider="slides">
    <div class="photo-slider__wrapper swiper-wrapper">
      {{#times 7}}
        <div class="photo-slider__slide swiper-slide">
          <div class="photo">
            <a href="videos.html" class="photo__content-link">
              <div class="photo__video-image">
                <div class="photo__video-link">
                  {{> components/image img="photo/about" fallback-ext='jpg' }}
                </div>
              </div>
              <div class="photo__description">
                <p class="photo__text">{{{../text}}}</p>
                <div class="photo__stats">
                  {{# if ../stats}}
                    {{> ui/svg name="camera" }}
                    <span class="photo__amount">{{../amount}}</span>
                  {{else}}
                    <span class="photo__date">{{../date}}</span>
                  {{/if}}
                </div>
              </div>
            </a>
          </div>
        </div>
      {{/times}}
    </div>
  </div>

  <div class="slider-bullets photo-slider__bullets" data-slider="paging"></div>
</div>
