.footer {
  background-color: $color-white;

  @include mobile {
    font-size: 16px;
    line-height: 1.8;

    .container {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &__inner {
    display: grid;
    grid-template-areas:
      'map address credits'
      'map nav copyright';
    grid-auto-flow: dense;
    gap: 0 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    @include tablet {
      grid-template-areas:
        'map map map'
        'credits address nav'
        'copyright copyright copyright';
      gap: 43px;
    }

    @include mobile {
      grid-template-areas:
        'credits'
        'address'
        'nav'
        'map'
        'copyright';
      gap: 20px;
    }
  }

  &__map {
    grid-area: map;
    width: 600px;
    height: 390px;

    @include tablet-and-mobile {
      width: 100%;
      height: 100%;
      iframe {
        width: 100%;
        min-height: 100%;
      }
    }

    @include mobile {
      width: 100%;
      height: 100%;
      margin-top: 20px;
    }
  }

  &__address {
    grid-area: address;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @include tablet-and-mobile {
      justify-content: flex-start;
    }
  }

  &__credits {
    grid-area: credits;
    display: flex;
    flex-direction: column;
  }

  &__copy {
    grid-area: copyright;
    margin-top: auto;
    @include font-sm;

    @include mobile {
      margin-top: 20px;
    }
  }

  &__menu {
    grid-area: nav;
  }

  &__btn {
    margin: 20px 0 25px;

    @include mobile {
      margin-bottom: 0;
    }
  }

  .btn--funds {
    padding: 4px 27.5px;
    margin: 0;

    &:hover {
      background: $color-primary;
    }
  }

  .nav-menu {
    grid-template-columns: auto;
    height: auto;
    color: $color-grey;
    @include font-sm;
    line-height: 26px;
    font-weight: 400;

    @include mobile {
      font-size: 16px;
      line-height: 1.8;
    }
  }

  .socials {
    justify-content: flex-start;

    @include mobile {
      $value: 12vmin;
      grid-template-columns: repeat(6, $value);
      grid-template-rows: repeat(auto-fit,$value);
    }
  }

  .timetable {
    margin-top: 15px;

    @include mobile {
      margin-top: 20px;
    }
  }
}

.address {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;

  a {
    font-style: normal;
  }
}
