.footer {
  background-color: $color-white;

  @include mobile {
    .container {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 600px repeat(2, 270px);
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    @include tablet {
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__map {
    @include tablet-and-mobile {
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      iframe {
        width: 100%;
        min-height: 100%;
      }
    }
  }

  &__address {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @include tablet-and-mobile {
      justify-content: flex-start;
    }
  }

  &__credits {
    display: flex;
    flex-direction: column;
  }

  &__copy {
    margin-top: auto;
    @include font-sm;

    @include mobile {
      margin-top: $main-gutters;
    }
  }

  &__btn {
    margin: 20px 0 25px;
  }

  .btn--funds {
    padding: 4px 27.5px;
    margin: 0;

    &:hover {
      background: $color-primary;
    }
  }

  .nav-menu {
    grid-template-columns: auto;
    height: auto;
    color: $color-grey;
    @include font-sm;
    line-height: 26px;
    font-weight: 400;
  }

  .socials {
    justify-content: flex-start;
  }

  .timetable {
    margin-top: 15px;
  }
}

.address {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;

  a {
    font-style: normal;
  }
}
