.header {
  color: $color-text-main;
  background: $color-white;

  &__top {
    display: grid;
    grid-template-columns: 232px 1fr 278px;
    grid-template-rows: 172px;
    align-content: center;
    gap: 65px;

    @include tablet-and-mobile {
      grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
      grid-template-rows: auto;
      gap: 20px;
      padding: 20px 0;
    }
  }

  &__logo {
    @include mobile {
      display: none;
    }

    .image-fit {
      position: relative;

      &::before {
        content: '';
        display: block;
        padding-top: 172px;
      }

      img{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
    }
  }

  &__brand {
    margin-top: 23px;
    @include mobile {
      margin-top: 0;
    }

    span {
      font-size: 16px;
      line-height: 38px;
      font-weight: normal;

      @include tablet-and-mobile {
        font-size: 13px;
        line-height: 1.2;
      }
    }
  }

  &__title {
    align-self: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.1;

    @include tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  &__extra {
    align-self: center;
    display: grid;
    gap: 14px;
    grid-template-rows: auto;
    margin-top: 23px;
    color: $color-text-gray;

    @include tablet-and-mobile {
      display: none;
    }
  }

  &__bottom {
    position: relative;
    z-index: 2;
    background-color: $color-gray;
  }

  .actions, .extra-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #main-search {
    display: flex;
    align-items: center;
  }

  .icon-search {
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 14px;
  }

  //&__nav {
  //}
}
