.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  color: $color-black;
  background: $bg-light;
  transition: top 350ms ease;

  &__top {
    background-color: $color-white;

    &-container {
      display: flex;
      align-content: center;
      transition: all 350ms linear;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    flex: 0 0 172px;
    padding-top: 13.872%;
    overflow: hidden;

    > * {
      flex: 1 1 100%;
    }

    @include tablet {
      flex-basis: 91px;
      padding-top: 14%;
    }

    @include smallTablet-and-mobile {
      flex-basis: 82px;
      align-self: flex-end;
      padding-top: 15%;
    }

    @include mobile {
      padding-top: 25%;
      flex-basis: 65px;
    }

    @include mobile320 {
      display: none;
    }

    img {
      @include fill;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__brand {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 60px;

    @include tablet {
      margin: 0 0 0 30px;
    }

    @include smallTablet-and-mobile {
      margin: 8px;
    }

    @include mobile320 {
      justify-content: flex-start;
      margin-left: 0;
    }
  }

  &__title {
    display: block;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.1;

    @include tablet {
      font-size: 35px;
      line-height: 1.15;
    }

    @include smallTablet-and-mobile {
      font-size: 30px;
      line-height: 1.2;
    }

    @include mobile {
      font-size: 16px;
      line-height: 1.4;
    }
  }

  &__title-text {
    display: flex;
    font-size: 16px;
    line-height: 38px;
    font-weight: normal;

    @include tablet {
      font-size: 11px;
      line-height: 22px;
    }

    @include smallTablet-and-mobile {
      font-size: 13px;
      line-height: 1.5;
    }

    @include mobile {
      font-size: 10px;
    }
  }

  &__media {
    flex: 0 0 278px;
    display: grid;
    grid-template-areas:
      'search entrance'
      'contacts funds'
      'socials socials';
    align-items: center;
    align-content: center;
    gap: 13px;
    color: $color-grey;

    &-item {
      &-link {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &--search {
        grid-area: search;
        justify-self: start;

        .icon-search {
          display: inline-flex;
          margin-right: 5px;
          width: 14px;
          height: 14px;
        }
      }

      &--entrance {
        grid-area: entrance;
        justify-self: end;
      }

      &--contacts {
        grid-area: contacts;
        justify-self: start;
      }

      &--funds {
        grid-area: funds;
        justify-self: end;
      }

      &--socials {
        grid-area: socials;
      }
    }

    @include tablet {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    @include smallTablet-and-mobile {
      display: none;
    }

    .btn--funds {
      line-height: 1;
      padding: 4.5px 20px;
    }
  }

  &__toggle-menu {
    align-self: center;
    flex: 0 0 55px;
  }

  &__bottom {
    z-index: 2;
    background-color: $color-lightgrey;

    @include smallTablet-and-mobile {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      transition: height 450ms ease;
      background-color: $color-white;
      overflow: hidden;

      &.animate {
        display: block;
        transition: height 450ms ease;
      }

      .header._opened & {
        display: block;
      }

      .container {
        height: 100%;
      }
    }
  }

  &__nav {
    @include smallTablet {
      height: 100%;
    }
  }

  &__breadcrumbs {
    position: relative;
    transition: all 350ms ease;
  }

  &.fixed-start {
    position: fixed;
    margin-top: -282px;
    box-shadow: 0 0 16px rgba(38, 38, 38, .26);

    .header {
      &__media {
        flex: 0 1 480px;
        margin-left: auto;
        grid-template-areas:
          'contacts search entrance'
          ' funds socials socials';
        grid-template-columns: max-content 1fr max-content;
        gap: 10px;

        &-item--funds {
          justify-self: start;
        }
      }

      &__title-text {
        display: none;
      }

      &__logo {
        flex: 0 0 92px;
        padding-top: 92px;

        @include tablet {
          flex-basis: 74px;
        }

        @include mobile {
          display: none;
          padding-top: 60px;
          flex-basis: 45px;
        }
      }

      &__title {
        font-size: 30px;

        @include mobile {
          font-size: 18px;
        }
      }

      &__brand {
        flex: 1 0 auto;
        margin-left: 15px;

        @include mobile {
          margin: 10px 0;
        }
      }

      &__breadcrumbs {
        display: none;
      }
    }
  }

  &.fixed {
    top: 282px;
  }
}
