.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  color: $color-black;
  background: $bg-light;

  &__top {
    background-color: $color-white;

    &-container {
      display: flex;
      min-height: 172px;
      align-content: center;
      transition: all 350ms linear;

      @include tablet-and-mobile {
        //padding: 20px 0;
      }

      @include mobile {
        min-height: 82px;
        //padding: 10px 0 0;
      }

      * {
        transition: all 350ms linear;
      }

      .fixed & {
        min-height: 102px;
        transition: all 350ms ease;

        @include mobile {
          min-height: 82px;
        }
      }
    }
  }

  &__logo {
    display: flex;
    flex: 0 0 172px;

    > * {
      flex: 1 1 100%;
    }

    @include mobile {
      flex-basis: 82px;
      align-self: flex-end;
    }

    .image-fit {
      position: relative;

      &::before {
        content: '';
        display: block;
        padding-top: 100%;
        width: 100%;

        @include tablet-and-mobile {
          padding-top: 130%;
        }
      }

      img{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .fixed & {
      flex-basis: 102px;

      @include mobile {
        flex-basis: 62px;
      }
    }
  }

  &__brand {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 60px;
    margin-right: 60px;

    @include tablet-and-mobile {
      margin: 0 0 0 10px;
    }

    .fixed & {
      margin-left: 20px;

      @include mobile {
        margin-left: 10px;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.1;

    @include tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 20px;
    }

    .fixed & {
      font-size: 35px;

      @include mobile {
        font-size: 20px;
      }
    }
  }

  &__text {
    font-size: 16px;
    line-height: 38px;
    font-weight: normal;

    @include tablet-and-mobile {
      display: flex;
      font-size: 13px;
      line-height: 22px;
    }

    .fixed & {
      opacity: 0;
      clip-path: circle(0px at 0 0);
      margin-top: -38px;

      @include mobile {
        margin-top: -44px;
      }
    }
  }

  &__media {
    flex: 0 0 278px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    color: $color-grey;

    &-item {
      &--actions {
       flex: 1 1 100%;
      }

      &--contacts  {
        flex: 1 1 auto;
        //max-width: 50%;
        margin-top: 13px;
      }

      &--funds {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 1 auto;
        margin-top: 13px;
      }

      &--socials  {
        flex: 1 1 100%;
        margin-top: 13px;

        .fixed & {
          clip-path: circle(0px at 0 0);
          opacity: 0;
          margin-top: -34px;
        }
      }
    }

    @include tablet-and-mobile {
      display: none;
    }

    .fixed & {
      //flex: 1 1 500px;

    }

    .btn--funds {
      line-height: 1;
      padding: 4.5px 20px;
    }
  }

  &__bottom {
    position: relative;
    z-index: 2;
    background-color: $color-lightgrey;

    @include mobile {
      display: none;
    }
  }

  &__breadcrumbs {
    position: relative;
    transition: all 350ms ease;

    .fixed & {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #main-search {
    display: flex;
    align-items: center;
  }

  .icon-search {
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 14px;
  }
}
