.page {
  display: flex;
  justify-content: center;
  @include font-base;
  background-color: $color-bg-main;

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }

  &__header {
    position: relative;
  }

  &__content {
    flex: 1 0 auto;
    min-height: 1px;
    display: grid;
    gap: $main-gutters;
    grid-template-rows: repeat(auto-fit, minmax(100px, max-content));
  }

  &__footer {
    flex-shrink: 0;
  }

  &__container {
    position: relative;
    display: grid;
    gap: $main-gutters;
    flex: 1 0 auto;
    min-height: 1px;
    margin: 20px auto 67px;

    .home & {
      margin-top: 40px;
    }
  }

  &__aside {
    flex: 1 0 auto;
    min-height: 1px;
    display: grid;
    grid-template-columns: 277px;
    grid-template-rows: repeat(auto-fit, minmax(100px, max-content));
    gap: $main-gutters;

    @include tablet-and-mobile {
      display: none;
    }
  }
}

.grid {
  &-main {
    display: grid;
    grid-template-columns: repeat(12, minmax($main-gutters, 1fr));
    gap: $main-gutters;

  }

  &-timetable {
    display: block;
  }

  &-column-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $main-gutters;
  }
}
