.breadcrumbs {
  @include mobile {
    display: none;
  }

  &__link {
    @include font-sm;
    color: $color-grey;

    &:not(:last-child) {
      &::after {
        content: '/';
        display: inline-block;
        margin: 0 3px;
        color: $color-secondary;
      }
    }

    &--current {
      color: $color-secondary;
    }
  }
}
