.radio {
  &-box {
    position: relative;

    margin: 16px 0;
  }

  &-input {
    &:not(checked) {
      display: none;
    }

    &:checked + .radio-label {
      &:before {
      }

      &:after {
        opacity: 1;
      }
    }

    + .radio-label {
      position: relative;
      padding-left: 25px;
      @include font-sm;
      margin: 0;
      color: $color-black;
      cursor: pointer;
      display: inline-block;
      vertical-align: top;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 3.5px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background: #fff;
        border: 1px solid #ccc;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 3px;
        margin-top: 7px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: $color-primary;
        opacity: 0;
        transition: all 0.2s;
      }
    }
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
  }

  &-label {
    position: relative;
    margin-right: 15px;
    margin-bottom: 15px;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }

    input {
      @include fill;
      width: 100%;
      height: 100%;
      display: block;
    }

    input:checked + span {
      background-color: $color-primary;
      color: $white;
    }

    span {
      position: relative;
      z-index: 1;
      display: flex;
      @include font-base();
      font-weight: bold;
      padding: 5px 10px;
      border: 1px solid $color-primary;
      cursor: pointer;
    }
  }
}
