{{!Анонс}}

{{> layout/header page-breadcrumbs=announcement.page-breadcrumbs}}

<div class="container page__container">
  <main class="page__content">
    {{> pages/announcement/main }}
  </main>

  <aside class="page__aside">
    {{> pages/common/aside no-form=true}}
  </aside>
</div>

{{> layout/footer }}
