{{!Анонс}}

{{> layout/header page-breadcrumbs=announcement.page-breadcrumbs}}

<div class="container page__container">
  <div class="grid-main">
    <main class="page__content grid-col-9">
      {{> pages/announcement/main }}
    </main>

    <aside class="page__aside grid-col-3">
      {{> pages/common/aside no-form=true}}
    </aside>
  </div>
</div>

{{> layout/footer }}
