{{!Православный календарь}}

{{> layout/header page-breadcrumbs=calendar-main.page-breadcrumbs }}

<div class="container page__container">
  <div class="grid-main">
    <main class="page__content">
      {{> pages/calendar/main }}
      {{> blocks/related }}
    </main>

    <aside class="page__aside">
      {{> pages/common/aside }}
    </aside>
  </div>
</div>

{{> layout/footer }}
