{{!Главная}}

{{> layout/header }}

<main class="container page__container">
  <div class="grid-main">
    <div class="page__content">
      {{> pages/home/main }}
    </div>

    <div class="page__aside">
      {{> pages/common/aside
              no-timetable=true
              no-announcement=true
              no-form=true
      }}
    </div>
  </div>
</main>

{{> layout/footer }}
