{{!Новости}}

{{> layout/header page-breadcrumbs=news.page-breadcrumbs}}

<div class="container page__container">
  <main class="page__content">
    {{> pages/news/main }}
  </main>

  <aside class="page__aside">
    {{> pages/common/aside }}
  </aside>
</div>

{{> layout/footer }}
