{{!Цитаты}}

{{> layout/header page-breadcrumbs=article.page-breadcrumbs}}

<div class="container page__container">
  <div class="grid-main">
    <main class="page__content grid-col-9">
      {{#> blocks/section-wrapper title="Цитаты" class-sw="section-wrapper--quotes"}}
        {{> blocks/quote-slider }}
      {{/blocks/section-wrapper}}

      {{> pages/quote/main }}
    </main>

    <aside class="page__aside grid-col-3">
      {{> pages/common/aside }}
    </aside>
  </div>
</div>

{{> layout/footer }}
