{{!Расписание богослужений}}

{{> layout/header page-breadcrumbs=timetable.page-breadcrumbs}}

<div class="container page__container page__container--timetable">
  <div class="section-wrapper">
    <h2 class="section-wrapper__title timetable__title">
      <span class="timetable__title-wrapper">
        Расписание богослужений
        <a href="#">Скачать PDF</a>
      </span>
    </h2>

    <div class="timetable__container">
      <div class="timetable-content timetable-content--column-1">
        {{> pages/timetable/timetable-list items=timetable.days-1}}
      </div>

      <aside class="page__aside timetable-content--aside">
        {{> pages/common/blocks/calendar-simple }}
        {{> pages/common/blocks/calendar-simple }}
      </aside>

      <div class="timetable-content timetable-content--column-2">
        {{> pages/timetable/timetable-list items=timetable.days-2}}
      </div>
    </div>

  </div>
</div>

{{> layout/footer }}
