$icons: (
        sprite: (width: 50px, height: 42px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
arrow: (width: 12px, height: 8px, backgroundX: 0px, backgroundY: 0px),
arrow-black: (width: 12px, height: 8px, backgroundX: -12px, backgroundY: -8px),
popup-close: (width: 26px, height: 26px, backgroundX: -24px, backgroundY: -16px),
);