.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-camera {
  width: 512px;
  height: 512px;
}
.icon-eye {
  width: 576px;
  height: 512px;
}
.icon-facebook {
  width: 320px;
  height: 512px;
}
.icon-folder {
  width: 96px;
  height: 96px;
}
.icon-instagram {
  width: 448px;
  height: 512px;
}
.icon-music-note {
  width: 24px;
  height: 29px;
}
.icon-ok {
  width: 320px;
  height: 512px;
}
.icon-popup-close {
  width: 26px;
  height: 26px;
}
.icon-search {
  width: 16px;
  height: 15px;
}
.icon-slider-arrow {
  width: 11px;
  height: 19px;
}
.icon-twitter {
  width: 512px;
  height: 512px;
}
.icon-vk {
  width: 576px;
  height: 512px;
}
.icon-youtube {
  width: 576px;
  height: 512px;
}
